/* CSS Document */

html, body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	font-family: 'Josefin Sans', sans-serif;
}

.navbar {
	display: flex;
	background-color: #607d8b;
}

.navbar a {
	padding: 20px;
	color: white;
	text-decoration: none;
	font-size: 1.5rem;
}

.navbar a:hover {
	background-color: #455a64;
}

.home-page {
	display: flex;
	flex-direction: column;
}


.home-page header {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	height: 75vh;
	background:  rgba(100,0,0,0.1) url("images/home-page3.jpg") no-repeat top center fixed;
	background-size: cover;
}

.main-content {
	height: 50vh;
	font-size: 2.6rem;
	padding-left: 10%;
	padding-right: 10%;
}

.footer {
	background-color: #b0bec5;
	height: 6vh;
	display: flex;
	align-items: center;
	padding-left: 10px;
	color: white;
}

.about-page {
	flex: 1;
	text-align: left;
	font-size: 350%;
}

.about-page .title {
	font-size: 10rem;
	text-align: center;
	line-height: 0%;
}

.about-content {
	font-size: 2.6rem;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 5%;
}

.about-page .carousel{
	overflow: hidden;
	width: 100%;
	max-height: 60vh;
}
.about-page .panes{
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative;
	width: calc(5 * 100%);
	overflow: hidden;
    -moz-animation:carousel 40s infinite;
    -webkit-animation:carousel 40s infinite;
    animation:carousel 40s infinite;
}

.about-page .panes > li{
    position:relative;
    float: left;
    width: calc(100% / 5);
}

.about-page .carousel img{
    display: block;
	margin: 30px auto;
    max-width: 100%;
	max-height: 60vh;
}

.about-page .carousel h2{
    font-size: 1.5rem;
    padding: 0.5rem;
    position: absolute;
    right: 10px;
	bottom: 0px;
    text-align: right;
    color: #fff;
    background-color: rgba(0,0,0,0.75);
}

@keyframes carousel{
    0%    { left:0; }
    11%   { left:0; }
    12.5% { left:-100%; }
    23.5% { left:-100%; }
    25%   { left:-200%; }
    36%   { left:-200%; }
    37.5% { left:-300%; }
    48.5% { left:-300%; }
    50%   { left:-400%; }
    61%   { left:-400%; }
    62.5% { left:-300%; }
    73.5% { left:-300%; }
    75%   { left:-200%; }
    86%   { left:-200%; }
    87.5% { left:-100%; }
    98.5% { left:-100%; }
    100%  { left:0; }
}

.photo-caption {
	text-align: center;
	font-size: 1.5rem;
	padding-bottom: 2%;
}


.portfolio-content {
	background-color: #eceff1;
}

.metro-content {
	max-width: 100vw;
	flex: 1;
	padding-left: 0.7vw;
	padding-bottom: 10px;
	padding-top: 10px;
}

.metro {
	width: 100%;
	height: auto;
	display: flex;   
	flex-flow:row wrap;
}
  
 .block {
	box-sizing: border-box;
 }
  
 .block2x2 {
    width: 50vw;
    height: 50vh;
 }

.photo-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #eceff1;
	padding-bottom: 20px;
}

.photo-page .title {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.photo-page .title h1 {
	padding-top: 30px;
}

.photo-page .card {
	width: 400px;
	height: 600px;
	background-color: white;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	margin: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.photo-page .card img {
	width: 90%;
	height: 50%;
	padding-top: 30px;
	object-fit: contain;
}

.photo-page .card p {
	padding: 0 30px 0 30px;
	font-size: 1.5rem;
	margin: 0;
	text-align: center;
	flex: 1;
}

.photo-page .card a {
	text-decoration: none;
	color: #7cb342;
	font-size: 1.5rem;
	padding-bottom: 35px;
}

.photo-page .card a:hover {
	color: #4db6ac;
	letter-spacing: 2px;
}

.card-display {
	display: flex;
	flex-flow:row wrap;
	flex-direction: row;
	justify-content: center;
}

.contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #eceff1;
	color: #37474f;
	padding: 120px 40px 40px 40px;
	flex: 1;
}

.contact p {
	font-size: 2rem;
}

.contact-form {
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea

{
    transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #000;
	font-size: 1.5rem;
	font-family: 'Josefin Sans', sans-serif;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus
{
    box-shadow: 0 0 5px #8bc34a;
    padding: 3%;
    border: 1px solid #8bc34a;
}

.contact-form input[type="submit"] {
    box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #9ccc65;
    border-bottom: 2px solid #7cb342;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;
	font-size: 1.5rem;
	font-family: 'Josefin Sans', sans-serif;
	
}
.contact-form input[type="submit"]:hover {
    background: #aed581;
}

.back-to-top {
	background-color: #8bc34a;
	border-radius: 50%;
	position: fixed;
	bottom: 50px;
	right: 40px;
	text-align: center;
	height: 60px;
	width: 60px;
	line-height: 60px;
	font-size: 1.5rem;
	color: white;
}